<!DOCTYPE html>
<html>
<head>
</head>
<body>
 	<h1>My Website</h1>
 	<ul style="list-style: none">
		<li style="display: inline;"><%= link_to 'Home', root_path %></li>
		<li style="display: inline;"><%= link_to 'About', about_path %></li>
 	</ul>
 	<div>
		<p>Here is some content</p>
 	</div>
</body>
</html>